Screen {
    background: #000000;
    color: #c9d1d9;
    layout: vertical;
    align: center middle;
}

Header {
    background: #161b22;
    color: #58a6ff;
    text-style: bold;
}

Footer {
    background: #161b22;
}

#main-container {
    width: 80%;
    max-width: 100;
    margin: 3 1; 
    align: center middle;
    padding: 1 2;
}

#display-box-static {
    height: auto;
    min-height: 10;
    max-height: 15;
    background: #000000;
    border: heavy #330101;
    padding: 1;
    content-align: center middle;
    margin-bottom: 2;
}

Input {
    height: 3;
    width: 100%;
    background: #5e0303;
    color: #c9d1d9;
    padding: 0 1;
}

QuitScreen {
    align: center middle;
}

#dialog {
    grid-size: 2 2;
    grid-rows: 1fr 3; 
    grid-columns: 1fr 1fr; 
    width: 60%;
    max-width: 60;
    height: 10;
    background: #161b22;
    border: double #ff7b72;
    align: center middle;
    padding: 1;
}

#question {
    column-span: 2;
    text-align: center;
    text-style: bold;
    color: #ff7b72;
    margin-bottom: 1;
}

#yes {
    column-span: 1;
    align: center middle;
    background: #ff7b72;
    color: #0d1117;
    margin: 0 1;
}

#no {
    column-span: 1;
    align: center middle; 
    background: #58a6ff;
    color: #0d1117;
    margin: 0 1;
}