attrs==25.4.0
autocommand==2.2.2
bauh==0.10.7
Brlapi==0.8.7
btrfsutil==6.17.1
build==1.3.0
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
cupshelpers==1.0
dbus-python==1.4.0
entrypoints==0.4
fastjsonschema==2.21.2
filelock==3.20.0
flake8==7.3.0
gps==3.26.1
idna==3.11
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lark==1.3.1
lensfun==0.3.4
libfdt==1.7.2
libtorrent==2.0.11
libvirt-python==11.9.0
lit==21.1.5.dev0
louis==3.34.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.8.0
nftables==0.1
OpenTimelineIO==0.18.1
packaging==25.0
platformdirs==4.5.0
poetry-core==2.2.1
pyaaf2==1.7.1
pyaml==24.12.0
pycairo==1.29.0
pycodestyle==2.14.0
pycparser==2.23
pycups==2.0.4
pyflakes==3.4.0
Pygments==2.19.2
PyGObject==3.54.5
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.1
python-dateutil==2.9.0
pytubefix==8.12.2
pyxdg==0.28
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
setproctitle==1.3.7
setuptools==80.9.0
shtab==1.7.2
six==1.17.0
termcolor==3.2.0
terminaltexteffects==0.12.2
textual==6.5.0
tldr==3.4.3
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.5.0
wheel==0.45.1
